{% extends "base.html" %}
{% set main_css = 'styles' %}
{% block title %}Preview{% endblock %}

{% block content %}
   
 <div class="navbar">
    <nav>
        <h2 class="logo"> groupify</h2>
    </nav>
 </div>

 <form method="POST" enctype="multipart/form-data">
        <fieldset>
            <div class="cl">

                {{form.hidden_tag()}}
                {{form.text_area(placeholder="Enter names you want to group, separating each name with a ',' or upload a .xlsx file containing names:")}}
                {{form.file(class="fil", required="true", accept=".xlsx")}}

                {{form.group_by(class="sel")}}

                {{form.number(class="num", placeholder="Enter Number", required="true", min="2")}}

                {{form.submit(class="button")}}
          </div>
        </fieldset>

        

    
 </form>

     
 {% endblock %}