{% extends "base.html" %}
{% set main_css = 'preview' %}
{% block title %}Preview{% endblock %}

{% block content %}

<div class="navbar">
	<nav>
		<ul class="ul">
			<li class="li">
				<a href="{{url_for('views.home')}}"  class="a">PUPIL SORTER </a>
			</li>
			<li class="li">
				<a href="{{url_for('views.generate_groups')}}" class="a"> REGENERATE</a>
			</li>
			<li class="li">
				<a href="{{url_for('views.home')}}" class="a"> HOME </a>
			</li>
		</ul>
	</nav>
 </div>
{%for group_name, group_members in sub_groups.items() %}
<div class="t11">

	<table>
		<tr>
			<th class="head">
				<h1>{{group_name}}</h1>
				<br>
			</th>
			{% for member in group_members %}
			<tr>
				<td>
					<ul>
						<li>
							{{member}}
						</li>
					</ul>

				</td>
			</tr>
			{% endfor %}
		</tr>
   </table>
</div>
 {% endfor %}

{% endblock %}